<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.cardcollectingapp.pricing-update</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/node</string>
        <string>/Users/NikFox/Documents/git/Card_Collecting_app/update-pricing-tcgcsv.cjs</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/NikFox/Documents/git/Card_Collecting_app</string>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/NikFox/Documents/git/Card_Collecting_app/logs/pricing-update.out</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/NikFox/Documents/git/Card_Collecting_app/logs/pricing-update.err</string>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>ThrottleInterval</key>
    <integer>3600</integer>
</dict>
</plist>
